{#
/**
 * @file html-to-pdf.html.twig
 * Theme implementation to present node data.
 *
 * This template is used when generating PDF page/file.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content
 * - links: Array of image links
 *
 * @see html_to_pdf_theme()
 *
 * @ingroup themeable
 */
{# Main content fields #}
{{ content }}
{# Create links to images #}
{% if links %}
  <h2>{{ 'Images'|t }}:</h2>
  {% for link in links %}
    <a href="{{ link }}">{{ link }}</a>
    <br>
  {% endfor %}
{% endif %}
